body {
    font-family: 'Tahoma', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

header {
    width: 100%;
    background-color: #fdf5e6;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 555px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-top: 10px; /* Adjust the margin as needed */
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
}

.home {
    padding: 20px;
    text-align: center;
}

.center-content {
    max-width: 800px; /* Adjust the max-width as needed */
    width: 100%; /* Added width: 100% for better responsiveness */
}

.subscribe {
    margin-top: 20px;
}

.subscribe form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe label, .subscribe input, .subscribe button {
    margin: 5px 0;
}

footer {
    margin-top: auto;
    background-color: #333;
    color: #fdf5e6;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-links ul {
    list-style-type: none;
    display: flex;
}

.footer-links a {
    text-decoration: none;
    color: #fdf5e6;
    margin: 0 15px;
}

.footer-social-media p {
    margin: 0;
}

.footer-social-media ul {
    list-style-type: none;
    display: flex;
}

.footer-social-media img {
    height: 20px;
    margin: 0 5px;
}
